@model IEnumerable<MVC5.Models.Section>

@{
    ViewBag.Title = "Seksionet";
}
@Scripts.Render("~/bundles/jqplot_home_charts")

<h2>@Model.First().Book.TitleAl</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitleAl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionAl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter.TitleAl)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitleAl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionAl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter.TitleAl)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SectionId }) |
                @Html.ActionLink("Details", "Details", new { id=item.SectionId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SectionId })
            </td>
        </tr>
    }

    </table>*@

<div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>



        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#text" data-toggle="tab">Pershkrimi</a></li>
            <li><a href="#table" data-toggle="tab">Tabela</a></li>
            <li><a href="#graph" data-toggle="tab">Grafike</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="text">
                <div>
                    <h2 id="title"></h2> 
                    <p id="content"></p>
                </div>
                <div id="content1">
                </div>
                <div id="content2">
                </div>
            </div>
            
            
            <div class="tab-pane" id="table">
                <div id="output">
                    <div class="panel-group" id="accordion2">
                    </div>
                
                </div>
            </div>


        <div class="tab-pane" id="graph"><div id="graphtitle"></div><div id="graphoutput"></div></div>
     </div>
        
        <script>
            var plot1 = 0;
            $(document).ready(function () {
               
                $(".list-group-item").click(function () {
                    if(getQuerystring('sectionid') !=  $(this).attr("id") ){
                            //alert($(this).attr("id"));
                        plot1 = 0; //for chart reload
                        $("#title").empty();
                        $("#content").empty();
                        $("#content1").empty();
                        $("#content2").empty();
                        $("#accordion2").empty();
                        $('#graphtitle').empty();
                        $('#graphoutput').empty();
                        $('.list-group-item').removeClass('active');
                        $('#' + $(this).attr("id")).addClass('active');
                        getSectionDesc('http://localhost:1690/Section/GetSelectedSection/' + $(this).attr("id"));
                        getTableQuery('http://localhost:1690/Section/GetTablesOfSection/' + $(this).attr("id"));
                    }
                    
                });
        //$("#1").click(function () {
        //    $("#title").empty();
        //    $("#content").empty();
        //    $("#output").empty();
        //    getSectionDesc('http://localhost:1690/Section/GetSelectedSection/1');
        //});
        //$("#2").click(function () {
        //    $("#title").empty();
        //    $("#content").empty();
        //    $("#output").empty();
        //    getSectionDesc('http://localhost:1690/Section/GetSelectedSection/2');
        //});
        //$("#3").click(function () {
        //    $("#title").empty();
        //    $("#content").empty();
        //    $("#output").empty();
        //    getSectionDesc('http://localhost:1690/Section/GetSelectedSection/3');
        //   // getTableQuery('http://localhost:1690/Section/GetTablesOfSection/3');
        //});

        getSectionDesc('http://localhost:1690/Section/GetSelectedSection/'+ @(ViewBag.firstSectionId));
            });

            //google.load("visualization", "1", { packages: ["corechart", "charteditor"] });
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                var start = e.target.toString().indexOf('#');
                var end = e.target.toString().length;
                if (e.target.toString().substring(start, end) === '#text') {
                    //drawChart1();
                    //getDatasets("http://json-stat.org/samples/oecd-canada.json");
                   // getSectionDesc('http://localhost:1690/Section/GetSelectedSection/1');
                }// activated tab
                if (e.target.toString().substring(start, end) === '#table') {


                   // var jsonQuery =
                    //    "query": [{
                    //        "code": "Prefecture", "selection": {
                    //            "filter": "all",
                    //            "values": ["*"]
                    //        }
                    //    },
                    //    {
                    //        "code": "Year", "selection": {
                    //            "filter": "top",
                    //            "values": ["2"]
                    //        }
                    //    }],
                    //    "response": { "format": "json" }
                    //};
                    //alert(jsonQuery);
                    //getTable(jsonQuery, getTableMetadataUrl('http://localhost:1690/Section/GetTablesOfSection/3'));
                }
                if(e.target.toString().substring(start, end) === '#graph') {
                    if (plot1 == 0) {
                        getGraphQuery('http://localhost:1690/Section/GetGraphOfSection/'+ getQuerystring('sectionid'));
                    }
                    else {
                        plot1.replot({resetAxes:true});
                    }
                }
                e.relatedTarget // previous tab

            });
            //$("button, a").click(function (e) { load(e); });
            //$("input").submit(function (e) { load(e); });



        </script>


    </div><!--/span-->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group" id="listgroup">
            @foreach (var item in Model)
{

    <a href="#sectionid=@Html.DisplayFor(modelItem => item.SectionId)" class="list-group-item" id="@Html.DisplayFor(modelItem => item.SectionId)">@Html.DisplayFor(modelItem => item.TitleAl) @Html.DisplayFor(modelItem => item.Tables.Count)</a>

}
        </div>
    </div><!--/span-->
</div><!--/row-->
